*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgba(0,0,0,0.8) ;
}

/*========== 
Header section start 
========= */
.header{
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/banner.jpg);
}
.navbar-nav li{
    margin: 10px 0 0 0 ;
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 18px;
}
.navbar-nav li a{
    color: #fff;
}
.content{
    text-align: center;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #fff;
    text-transform: uppercase;
}
.content span{
    font-style: italic;
    color: rgb(133, 121, 121);
}
.content h1{
    font-size: 50px;
    padding: 10px 0 10px 0;
    color: rgb(186,201,100);
}


/*========== 
Header section end
========= */


/*========== 
Protfolio section end
========= */
#protfolio{
    padding-top: 14%;
    padding-bottom: 15%;
}
.protfolio-content{
    color: #fff;
}
.p-menu{
    text-align: center;
    text-transform: uppercase;
}
.p-menu ul{
   list-style: none;
   margin: auto;
   padding-top: 25px;
}
.p-menu ul li{
    padding-left: 15px;
    text-align: center;
    display: inline-block

 }
 .p-menu ul li:hover {
    color: rgb(151, 207, 207);
    transition:0.2s;
    cursor: pointer;
 }
.p-title span{
    text-decoration:underline;
    text-decoration-color: rgb(105, 98, 98);
    text-decoration-skip:11 ;
    font-style: oblique;
}
.p-content{
    margin-top: 5%;
}
.main-content img{
    width: 100%;
    height: 100%;
}
.main-content{
    text-align: center;
    font-weight: 400;
}
.main-content h4{
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        word-spacing: 3;
        font-weight: 200;
        padding-top: 9px;
}
/*========== 
Protfolio section end
========= */


/*========== 
Resume section Start
========= */
.resume-heading{
    font-weight: thin;
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
}
.resume-heading span{
    font-weight:bold;
    font-style: italic;
    margin-top: 15%;
}
#resume{
    color: #fff;
    padding-top: 4%;
    padding-bottom: 15%;
}
.education-heading{
    font-weight: inherit;
    font-size: 28px; 
    margin: 28px 0 ;
 }
.box-of-education{
  
}
.b-heading i{
    padding-right: 8px;
}
.box-of-education h5{
    color: rgb(116,173,95);
}
.box-of-content{
    margin: 25px 0;
    background: rgb(58, 57, 57);
    width: 90%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
}
.mine-box{
    display: flex;
}

/*========== 
Resume section end
========= */

/*========== 
 About section  Start
========= */
.about-content{
    color: #fff;
    padding-top: 5%;
    padding-bottom: 15%;
}
.about-heading{
    font-size: 45px;
    font-weight: 300;
    padding-bottom: 20%;
    text-align: center;
}
.main-content{
    text-align: left;
}
.main-content p{
    padding: 20px 0;
}
.btn{
     color: rgb(19, 18, 18);
     margin-left: 10px;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
}
.btn-hire{
    background:rgb(186,201,100) ;
}
.btn-cv{
    background: rgb(108,117,125);
}
/*========== 
 About section end
========= */

/*========== 
 service section end
========= */
.service-contain {
    color: #fff;
    padding-top: 8%;
    padding-bottom: 8%;
}
.service-main-box{
    display: flex;

}
.ser-heading{
    font-size: 45px;
    font-weight: 300;
    padding-bottom: 20%;
    text-align: center;
}
.service-box{
    background: rgb(108,117,125);
    width: 30%;
    height: 100%;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    margin-left: 15px;
}
.service-box i{
    width: 100px;
    height:100px;
    border-radius: 50%;
    background: rgb(186,201,100);
    font-size: 45px;
    padding-top: 25px;
    color: black;
}
.service-box h3{
    padding: 10px 0;
}
.service-l{
    color:rgb(186,201,100) ;
}
.service-l span :hover {
    padding-right: 10px;
}
/*========== 
service section end
========= */

/*========== 
Contact section Start 
========= */
#contact{
    height: 100vh;
    color: #fff;
}
.contact-heading{
    text-align: center;
    font-size: 45px;
    padding: 35px 0;
}
.content-of-contact{
    display:flex ;
}
.left-side{
    display: inline-block;
}
.left-side p{
    font-size: 30px;

}
.inp{
    border: none;
    width: 50vh;
    height: 15px;
    padding: 15px;
    margin-bottom: 10px;
    background: rgb(80, 77, 77);
    color: #fff;
    border-radius: 10px;
}
.inp:focus{
    border: none;
}
.inp-mss{
    border: none;
    width: 50vh;
    height: 30vh;
    padding: 15px;
    margin: 10px 0;
    background: rgb(80, 77, 77);
    color: #fff;
    border-radius: 10px;
}
.submit-main{
    width: 15vh;
    height: 5vh;
    padding: 10px;
    background: rgb(186,201,100);
    color: #fff;
    border-radius: 50px;
    margin: 20px 0;
    border: none;
}
.right-side{
    margin-left: 75px;
}
.right-heading{
    font-size: 30px;
}
.address-content span{
    color: rgb(65, 92, 100);
}
/*========== 
Contact section end
========= */